@import url("https://fonts.googleapis.com/css?family=Raleway:200");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  color: white;
  font-family: "Raleway";
  font-size: 2.5rem;
}
.spin-whell {
  content: "";
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  border: 1px solid transparent;
    border-radius: 14px;
}
.gradient-border {
  --borderWidth: 3px;
  background: transparent;
  position: inherit;
  border-radius: var(--borderWidth);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin: 20px auto;
  border-radius: 20px;
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.confetti {
  margin-top: -41em;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#app {
  margin: 0 auto;
  position: relative;
  display: grid;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.marker {
  width: 60px;
  margin-bottom: -40px;
  z-index: 2;
}

.wheel {
  width: 25em;
  height: 25em;
}

.button {
  display: block;
  font-size: 3rem;
  margin: 40px auto;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 5000;
}

.button:hover {
  opacity: 0.8;
}

.blur {
  animation: blur 2s;
}

@keyframes blur {
  0% {
    filter: blur(1.5px);
  }
  80% {
    filter: blur(1.5px);
  }
  100% {
    filter: blur(0px);
  }
}

@media only screen and (max-width: 500px) {
  body{
  
  }
  #app {
   width:50px ;
  }
  
}

